@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);
}
@font-face {
    font-family: minecraft-bold;
    src: url(Mojang-Bold.ttf);
}
@font-face {
    font-family: minecraft-regular;
    src: url(Mojang-Regular.ttf);
}

:root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --bg-primary: #1d1d1d;
    --bg-secondary: #3e3e3e;
    --box-primary: rgba(0,0,0,0.4);
    --border-color: rgba(0,0,0,0.5);
    --color-error: rgb(164, 29, 29);
    --color-success: rgb(17, 173, 14);
}

* {
    font-family: "minecraft", "minecraft-bold", "minecraft-regular";
    color: var(--text-primary);
    font-size: large;
}

/* Inputs Colors */
select, input[type="text"], input[type="number"], input[type="submit"], input[type="button"] {background-color: var(--bg-secondary); color: var(--text-primary);}

.login_submit {
    background-color: var(--bg-secondary);
    border-radius: 15px;
    height: 40px;
    width: 125px;
    transition: linear 250ms;
}

.login_submit:hover {
    border-radius: 5px;
    background-color: rgb(0, 104, 194);
}

a {
    color: var(--text-secondary);
}

html, body {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

::-webkit-scrollbar {
    width: 0.45rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

.logDiv {
    margin-top: 12px;
    height: 80vh;
    /* width: 80vw; */
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    margin-left: -1vw;
    margin-right: -0.5vw;
    overflow: scroll;
}

.logDiv p {
    margin-bottom: -10px;
    margin-left: 20px;
}

/* Logut Server */
.logoutbuttom{
    padding: 0;
    border: none;
    background: none;
}


/* Command div */
.CommandDiv {
    margin-top: 3vh;
}
.command_input {
    height: 100%;
    width: 50vw;
    margin-left: 10vw;
    color: var(--bg-secondary)
}
.command_send {
    height: 100%;
    margin-left: 2vh;
    background-color: var(--bg-secondary);
}