.root {
    margin-left: 17rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    /* transition: width 600ms ease; */
    overflow: scroll;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* .fa-primary, .fa-secondary { */
/* transition: var(--transition-speed); */
/* color: var(--text-primary) */
/* } */

.logo {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: small;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    /* transform: rotate(-180deg); */
    color: transparent;
    font-size: small;
}

/* Small screens */
@media only screen and (max-width: 1000px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .root {
        margin: 0;
        margin-bottom: 5rem;
    }
}

/* Large screens */
@media only screen and (min-width: 1000px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .modal{        
        background-color: var(--bg-primary); /* Fallback color */
        background-color: var(--box-primary); /* Black w/ opacity */
    }
    .navbar {
        width: 16rem;
    }
    .navbar .link-text {
        display: inline;
    }
    .navbar:hover .logo svg {
        margin-left: 17rem;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
}