name: Binaries
on: 
  push:
    tags:
      - v*
      - V*
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  deleteReleases:
    runs-on: ubuntu-latest
    name: Delete old releases
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Delete Old Releases
      uses: Sirherobrine23/delete-older-releases@master
      with:
        delete_tags: true
        keep_latest: 1
        delete_tag_pattern: Bds_Maneger_
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  BuildBDSWeb:
    needs: [deleteReleases]
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: "${{ matrix.os }}"
    name: "System ${{ matrix.os }}"
    steps:
      - name: Setup NodeJS
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 15.x

      - name: Install NASM (Windows)
        if: matrix.os == 'windows-latest'
        uses: ilammy/setup-nasm@v1.2.0

      - name: Checkout Repository
        uses: actions/checkout@master

      - name: NPM Install packages
        run: npm install --no-save

      - name: Build Bds Maneger with Nexe (AMD64)
        if : matrix.os != 'ubuntu-20.04'
        run: npm run nexe

      - name: Build Bds Maneger with Nexe (AMD64)
        if : matrix.os == 'ubuntu-20.04'
        run: npm run nexe:android

      - name: Releases
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: "The Bds Maneger Release"
          tag_name: "Bds_Maneger_${{ github.run_id }}"
          files: "Bds_Maneger_Portable-*"
          body: "${{ matrix.os }}"
          prerelease: true

  docker:
    needs: [deleteReleases]
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_ORG_USER }}
          password: ${{ secrets.DOCKER_ORG_PASS }}

      - name: checkout
        uses: actions/checkout@master

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: bdsmaneger/maneger:latest
          platforms: linux/amd64,linux/arm64,linux/arm/v7
